<mat-card>
  <form [formGroup]="form">
    <div class="add-task">
      <div class="add-task__description">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            class="test"
            matInput
            rows="25"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="add-task__form">
        <mat-form-field appearance="fill">
          <mat-label>Select priority</mat-label>
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let option of options" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="add()">
          Add task
        </button>
      </div>
    </div>
  </form>
</mat-card>
