<div class="action__bar">
  <mat-icon routerLink="/dashboard">fast_rewind</mat-icon>
  <div>
    <button mat-button [routerLink]="'addTask'">Add task</button>
    <button mat-button (click)="openDialog()">Add user to project</button>
  </div>
</div>
<div>
  <h1>
    {{ name }}
  </h1>
</div>
<!--DRAG AND DROP DASHBOARD SIDE // new component will be useful-->
<div cdkDropListGroup>
  <div class="example-container">
    <h2>Open</h2>
    <div
      cdkDropList
      [cdkDropListData]="openTasks"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      #open
    >
      <div class="example-box" *ngFor="let item of openTasks" cdkDrag>
        {{ item.code }}
        {{ item.id }}
        <button [routerLink]="[item.code]">KLIK</button>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>In progress</h2>
    <div
      cdkDropList
      [cdkDropListData]="inProgressTasks"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      #progress
    >
      <div class="example-box" *ngFor="let item of inProgressTasks" cdkDrag>
        {{ item.code }}
        {{ item.id }}
        <button [routerLink]="[item.code]">KLIK</button>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>
    <div
      cdkDropList
      [cdkDropListData]="doneTasks"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      #done
    >
      <div class="example-box" *ngFor="let item of doneTasks" cdkDrag>
        {{ item.code }}
        {{ item.id }}
        <button [routerLink]="[item.code]">KLIK</button>
      </div>
    </div>
  </div>
</div>
