<h1 mat-dialog-title>Assign product manager to this project</h1>
<div mat-dialog-content class="contnet">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Assignee</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addManagerToProject()">
    Add
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
