<mat-icon routerLink="..">fast_rewind</mat-icon>
<div class="task">
  <div *ngIf="task" class="task__details">
    <mat-card>
      <h2>{{ task.code }}</h2>

      <p>Task added at: {{ task.creationDate | date }}</p>

      <p>Taks prority: {{ task.priority }}</p>

      <div>
        Assiggned user:
        <span>{{ task.user?.username }}</span>
        <span *ngIf="!task.user?.username">Not user assigned</span>
      </div>

      <h3>Task description:</h3>
      <p>{{ task.description }}</p>

      <hr />
      <h2>Comment section</h2>

      <div *ngFor="let comment of task.comments" class="comment">
        <div class="comment__data">
          <h3>{{ comment.user.username }} at {{ comment.date | date }}</h3>

          <div>{{ comment.text }}</div>
        </div>
        <div>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteComment(comment.id)"
          >
            X
          </button>
        </div>
      </div>
      <div class="comment__form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Add comment</mat-label>
          <input type="text" matInput [formControl]="commentForm" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addComment()">
          Add comment
        </button>
      </div>
    </mat-card>
  </div>
  <div class="task__form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Assignee</mat-label>
      <input
        type="text"
        matInput
        [formControl]="user"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" (click)="addTask()">
        Assign user to this task
      </button>
    </div>
  </div>
</div>
