.add-user {
    margin-top: 50px;
}
.mat-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
}
.mat-card-content {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
}
