.info {
    margin-top: 25px;
    width: 800px;
    @media screen and (max-width: 700px) {
        display: none;
    }
    &__details {
        flex: 0 0 auto;
        width: 40%;
        div {
            font-size: 1.2rem;
            margin: 5px 0;
        }
    }
}
