.list-style {
    width: 300px;
    //margin-right: 20px;
    //display: flex;
    //border: 1px solid black;
    margin: 10px 20px 5px 0;
    padding: 10px;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
    }
}
.list-item {
    display: flex;
    justify-content: space-between;
}
